<div class="nav-bar">
    <div class="app-logo">
        <%= image_tag "app-logo.jpg" %>
    </div>
    <h2 class="login-head">GROUPS </h2>
</div>
<div class="notification">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="signout">
        <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
    </div>
</div>
<div class="container">
    <ul class="groups">
        <% @groups.each do |group| %>
        <li class="group">
            <%= link_to group_path(group) do %>
                <img src="<%= group.icon %>" alt="<%= group.name %>">
                <p class="group-name"><%= group.name %></p>
                <p class="group-total">$ <%= group_total(group) %></p>
            <% end %>
        </li>
        <% end %>
        <li class="new-group">
            <%= link_to 'NEW GROUP', new_group_path %>
        </li>
    </ul>
</div>
