<div class="nav-bar">
    <div class="back-arrow">
        <%= link_to groups_path do %>
            <i class="fa-regular fa-arrow-left">Back</i>
        <% end %>
    </div>
    <h2 class="login-head"><%= @group.name %> </h2>
    <h4 class="text-center">$ <%= @total %> </h4>
</div>
<div class="notification">
    <div class="app-logo">
        <img src="<%= @group.icon %>" alt="<%= @group.name %>">
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="signout">
        <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
    </div>
</div>
<div class="container">
    <ul class="Contracts">
            <li class="contract cont-title">
                <p>CONTRACTS</p>
            </li>
        <% @contracts.each do |contract| %>
            <li class="contract">
                <div class="contract__name">
                    <%= contract.name %>
                </div>
                <div class=contract__date">
                    <p>contract Date</p>
                    <%= contract.created_at %>
                </div>
                <div class="contract__amount">
                   CONTRACT AMOUNT: $ <%= contract.amount %>
                </div>
            </li>
        <% end %>
        <li class="new-contract">
            <%= link_to 'NEW CONTRACT', new_group_contract_path(@group) %>
        </li>
    </ul>
</div>
