<div class="flex gap-3 items-center" id="<%= dom_id category %>">
  <div class="bg-white w-[80px] h-[80px] flex justify-center items-center border-[1px] border-slate-200">
    <img class="w-full" src="<%= category.icon %>" alt="<%= category.name %> Category"/>
  </div>
  <div class="grow">
    <div class="flex justify-between items-center">
      <p class="font-bold text-gray-500"><%= category.name %></p>
      <p class="font-bold">
       $ <%= category.payments.inject(0) { |sum, e| sum + (e.amount) }%>
      </p>
    </div>
    <p class="text-gray-300 text-sm"><%= category.created_at.strftime("%d %b %Y") %></p>
  </div>
</div>
