<div class="min-h-screen relative">
  <header class="w-full p-3 bg-[#3778c2] text-white text-lg flex justify-between">
    <nav>
      <%= link_to root_path do %>
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      <% end %>
    </nav>
    <h1 class="ml-[-15px]">Transactions<h1>
    <span></span>
  </header>

  <div class="w-full p-3 shadow mx-auto bg-white border-[1px] border-slate-200">
    <%= render @category %>
  </div>

  <ul class="w-full" id="categories">
    <% @category.payments.each do |payment| %>
      <li class="w-[90%] mt-4 py-3 px-5 shadow mx-auto bg-white border-[1px] border-slate-200">
        <div class="flex justify-between">
          <p><%= payment.name %></p>
          <p>$<%= payment.amount %></p>
        </div>
        <p class="text-gray-300 text-sm"><%= payment.created_at.strftime("%d %b %Y") %></p>
      </li>
    <% end %>
  </ul>

  <div class="absolute bottom-0 w-full text-center bg-[#5fb523] p-4 text-white">
    <div class="w-full border-[1px] border-white py-4 cursor-pointer">
      <%= link_to "Add new Transaction", new_payment_path, class: "w-full text-lg" %>
    </div>
  </div>
</div>